#calculator{
	width: 320px;
	height: 530px;
	background-color: #eaedef;
	margin: 0 auto;
	top: 10px;
	position: relative;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#results{
	height: 140px;
}
#history{
	text-align: right;
	height: 30px;
	margin: 0 20px;
	padding-top: 30px;
	font-size: 18px;
	color: gray;
    
}
#output{
    padding-top: 10px;	
	height: 60px;
	margin: 5px 20px;	
}
#result{
    height:40px;
    width: 100%;    
    border-color: lightgray;
    text-align: right;
    font-size: 20px;
}
#keyboard{
	height: 400px;
    
}
.button{
	/* text-align: center; */
	width: 50px;
	height: 50px;
	margin: 15px;    
	float: left;
	border-radius: 50%;
	border-width: 0;
	font-weight: bold;
	font-size: 25px;	
    cursor: pointer;
    background-color: blue;
    color: rgb(255, 255, 255);

}
.button:hover,#operator:hover,#add:hover,#subtract:hover,#backspace:hover{
    background-color:blueviolet;
    color: white;
    transition: 0.5s ease-in-out;
}
#clear{
    background-color: lightcoral;
}
#operator,#add,#subtract,#backspace{
	background-color: rgb(242, 148, 7);
}
#equal{
	background-color: green;
}